.contact {
  width: 100vw;
  min-height: 100vh;
  margin-top: 60px;
  margin-bottom: 40px;
  padding-top: 60px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;

  @media (--mediaTablet) {
    padding-top: 50px;
    padding-right: 80px;
    padding-left: 160px;
    height: auto;
  }

  @media (--mediaMobile) {
    padding-top: var(--space4XL);
    overflow-x: hidden;
  }
}

.content {
  display: grid;
  grid-template-columns: 1fr 50%;
  grid-column-gap: var(--space2XL);
  max-width: var(--maxWidthL);
  width: 100%;

  @media (--mediaTablet) {
    max-width: 600px;
    grid-template-columns: 100%;
  }
}

.column {
  display: flex;
  flex-direction: column;
  position: relative;
}

.title {
  white-space: nowrap;
  margin-bottom: var(--spaceL);
  opacity: 0;
  transition: opacity var(--durationXL) ease var(--durationM);

  &[data-visible='true'] {
    opacity: 1;
  }
}

.description {
  margin-bottom: var(--spaceXL);
  opacity: 0;
  transition: opacity var(--durationXL) ease var(--durationL);

  &[data-visible='true'] {
    opacity: 1;
  }
}

.contactList {
  display: flex;
  flex-direction: column;
  gap: var(--spaceL);
  margin-bottom: var(--space2XL);
  opacity: 0;
  transition: opacity var(--durationXL) ease var(--durationL);

  &[data-visible='true'] {
    opacity: 1;
  }
}

.item {
  display: flex;
  align-items: center;
  gap: var(--spaceM);
  font-size: 1.05rem;
  text-decoration: none;
}

.item svg {
  width: 22px;
  height: 22px;
}

.socials {
  display: flex;
  gap: var(--spaceL);
  opacity: 0;
  transition: opacity var(--durationXL) ease var(--durationXL);

  &[data-visible='true'] {
    opacity: 1;
  }
}

.socialLink {
  display: flex;
  align-items: center;
  gap: var(--spaceS);
  text-decoration: none;
  font-size: 1rem;
}

.tag {
  margin-top: 220px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: var(--space4XL) 1fr;
  gap: 12px;
  align-items: center;

  @media (--mediaTablet) {
    margin-top: 30px;
  }
}

.tagText {
  font-size: var(--fontSizeBodyS);
  font-weight: var(--fontWeightMedium);
  color: var(--primary);
  opacity: 0;
  transition: opacity var(--durationM) ease var(--durationL);

  &[data-visible='true'] {
    opacity: 1;
  }
}

.image {
  position: relative;
  width: 100%;
}

.contactGraphic {
  width: 100%;
  border-radius: 16px;
  opacity: 0;
  transform: translate3d(0, 40px, 0);
  transition: opacity var(--durationXL) ease var(--durationL),
              transform var(--durationXL) var(--bezierFastoutSlowin);

  &[data-visible='true'] {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.svg {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate3d(50%, -20%, 0);
  height: 100%;
  fill: var(--textTitle);
  opacity: 0;
  transition: opacity var(--durationXL) ease var(--durationXL);

  &[data-visible='true'] {
    opacity: 1;
  }
}
